n8n-workflows/01-quote-sent-workflow.json
{
  "name": "Vilches - Skicka Offert Email",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "quote-sent",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-quote-sent",
      "name": "Webhook: Quote Sent",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        250,
        300
      ],
      "webhookId": "quote-sent"
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "smtp",
        "fromEmail": "{{YOUR_EMAIL}}",
        "toEmail": "={{ $json.clientEmail }}",
        "subject": "=Offert från Vilches Entreprenad - {{ $json.quoteNumber }}",
        "emailType": "html",
        "message": "=<!DOCTYPE html>\n<html>\n<head>\n  <meta charset=\"utf-8\">\n  <style>\n    body { \n      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; \n      line-height: 1.6; \n      color: #333;\n      background-color: #f5f5f5;\n      margin: 0;\n      padding: 0;\n    }\n    .container { \n      max-width: 600px; \n      margin: 20px auto; \n      background: white;\n      border-radius: 10px;\n      overflow: hidden;\n      box-shadow: 0 2px 10px rgba(0,0,0,0.1);\n    }\n    .header { \n      background: linear-gradient(135deg, #667eea 0%, #764ba2 100%); \n      color: white; \n      padding: 40px 30px; \n      text-align: center;\n    }\n    .header h1 {\n      margin: 0 0 10px 0;\n      font-size: 28px;\n    }\n    .header p {\n      margin: 0;\n      font-size: 16px;\n      opacity: 0.9;\n    }\n    .content { \n      padding: 30px;\n    }\n    .button { \n      display: inline-block; \n      padding: 15px 30px; \n      background: #667eea; \n      color: white !important; \n      text-decoration: none; \n      border-radius: 5px; \n      margin: 20px 0; \n      font-weight: bold;\n      text-align: center;\n    }\n    .button:hover {\n      background: #5568d3;\n    }\n    .footer { \n      background: #f8f9fa;\n      text-align: center; \n      padding: 20px; \n      color: #777; \n      font-size: 14px;\n      border-top: 1px solid #e0e0e0;\n    }\n    .info-box { \n      background: #f8f9fa; \n      border-left: 4px solid #667eea; \n      padding: 20px; \n      margin: 20px 0;\n      border-radius: 4px;\n    }\n    .info-box strong {\n      color: #667eea;\n    }\n  </style>\n</head>\n<body>\n  <div class=\"container\">\n    <div class=\"header\">\n      <h1>🏗️ Vilches Entreprenad</h1>\n      <p>Din offert är klar!</p>\n    </div>\n    <div class=\"content\">\n      <p>Hej {{ $json.clientName }},</p>\n      \n      <p>{{ $json.customMessage || 'Tack för er förfrågan! Nedan finner ni offerten enligt överenskommelse.' }}</p>\n      \n      <div class=\"info-box\">\n        <strong>📋 Offert-nummer:</strong> {{ $json.quoteNumber }}<br>\n        <strong>🏗️ Projekttyp:</strong> {{ $json.projectType }}<br>\n        <strong>💰 Totalkostnad:</strong> {{ Math.round($json.totalAfterRot).toLocaleString('sv-SE') }} kr {{ $json.applyRotDeduction ? 'efter ROT-avdrag' : '' }}\n      </div>\n      \n      <p style=\"text-align: center;\">\n        <a href=\"{{YOUR_FRONTEND_URL}}/quote/{{ $json.quoteId }}\" class=\"button\">\n          📄 Visa offerten och acceptera/avvisa\n        </a>\n      </p>\n      \n      <p>På den länkade sidan kan ni läsa igenom offerten i detalj och antingen acceptera eller avvisa den.</p>\n      \n      <p>Har ni några frågor är ni välkomna att kontakta oss!</p>\n      \n      <p>Med vänlig hälsning,<br>\n      <strong>Vilches Entreprenad</strong><br>\n      📞 070-797 85 47<br>\n      ✉️ {{YOUR_EMAIL}}</p>\n    </div>\n    <div class=\"footer\">\n      <p>Vilches Entreprenad AB | Professionell byggverksamhet</p>\n    </div>\n  </div>\n</body>\n</html>",
        "options": {}
      },
      "id": "send-email",
      "name": "Skicka Email till Kund",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        450,
        300
      ],
      "credentials": {
        "smtp": {
          "name": "Vilches SMTP (Hostinger)"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": true, \"message\": \"Email skickat till \" + $json.clientEmail } }}"
      },
      "id": "respond-success",
      "name": "Svara: Lyckades",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        650,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": false, \"error\": $error.message } }}",
        "options": {
          "responseCode": 500
        }
      },
      "id": "respond-error",
      "name": "Svara: Fel",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        650,
        450
      ]
    }
  ],
  "connections": {
    "Webhook: Quote Sent": {
      "main": [
        [
          {
            "node": "Skicka Email till Kund",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Skicka Email till Kund": {
      "main": [
        [
          {
            "node": "Svara: Lyckades",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1",
  "meta": {
    "instanceId": "vilches-app"
  },
  "id": "1",
  "tags": []
}
