n8n-workflows/02-quote-response-workflow.json
{
  "name": "Vilches - Kundrespons på Offert",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "quote-response",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-quote-response",
      "name": "Webhook: Quote Response",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        250,
        350
      ],
      "webhookId": "quote-response"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.action }}",
              "operation": "equals",
              "value2": "ACCEPTED"
            }
          ]
        }
      },
      "id": "check-action",
      "name": "Accepterad?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        450,
        350
      ]
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "smtp",
        "fromEmail": "{{YOUR_EMAIL}}",
        "toEmail": "={{ $json.adminEmail }}",
        "subject": "=🎉 Offert Accepterad - {{ $json.quoteNumber }}",
        "emailType": "html",
        "message": "=<!DOCTYPE html>\n<html>\n<head>\n  <meta charset=\"utf-8\">\n  <style>\n    body { \n      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; \n      line-height: 1.6; \n      color: #333;\n      background-color: #f5f5f5;\n      margin: 0;\n      padding: 0;\n    }\n    .container { \n      max-width: 600px; \n      margin: 20px auto; \n      background: white;\n      border-radius: 10px;\n      overflow: hidden;\n      box-shadow: 0 2px 10px rgba(0,0,0,0.1);\n    }\n    .header { \n      background: linear-gradient(135deg, #10b981 0%, #059669 100%); \n      color: white; \n      padding: 40px 30px; \n      text-align: center;\n    }\n    .header h1 {\n      margin: 0;\n      font-size: 28px;\n    }\n    .content { \n      padding: 30px;\n    }\n    .info-box { \n      background: #d1fae5; \n      border-left: 4px solid #10b981; \n      padding: 20px; \n      margin: 20px 0;\n      border-radius: 4px;\n    }\n    .info-box strong {\n      color: #059669;\n    }\n    .button { \n      display: inline-block; \n      padding: 15px 30px; \n      background: #10b981; \n      color: white !important; \n      text-decoration: none; \n      border-radius: 5px; \n      margin: 20px 0; \n      font-weight: bold;\n      text-align: center;\n    }\n    .footer { \n      background: #f8f9fa;\n      text-align: center; \n      padding: 20px; \n      color: #777; \n      font-size: 14px;\n      border-top: 1px solid #e0e0e0;\n    }\n  </style>\n</head>\n<body>\n  <div class=\"container\">\n    <div class=\"header\">\n      <h1>🎉 OFFERT ACCEPTERAD!</h1>\n    </div>\n    <div class=\"content\">\n      <p>En kund har accepterat en offert!</p>\n      \n      <div class=\"info-box\">\n        <strong>📋 Offert-nummer:</strong> {{ $json.quoteNumber }}<br>\n        <strong>👤 Kund:</strong> {{ $json.clientName }}<br>\n        <strong>📧 Email:</strong> {{ $json.clientEmail }}<br>\n        <strong>📞 Telefon:</strong> {{ $json.clientPhone || 'Ej angivet' }}<br>\n        <strong>🏗️ Projekttyp:</strong> {{ $json.projectType }}<br>\n        <strong>💰 Totalkostnad:</strong> {{ Math.round($json.totalCost).toLocaleString('sv-SE') }} kr\n      </div>\n      \n      <p><strong>Nästa steg:</strong> Kontakta kunden för att boka in projektet!</p>\n      \n      <p style=\"text-align: center;\">\n        <a href=\"{{YOUR_FRONTEND_URL}}/admin/quotes\" class=\"button\">\n          Visa i systemet\n        </a>\n      </p>\n    </div>\n    <div class=\"footer\">\n      <p>Vilches Entreprenad AB</p>\n    </div>\n  </div>\n</body>\n</html>",
        "options": {}
      },
      "id": "email-accepted",
      "name": "Email: Accepterad",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        650,
        250
      ],
      "credentials": {
        "smtp": {
          "name": "Vilches SMTP (Hostinger)"
        }
      }
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "smtp",
        "fromEmail": "{{YOUR_EMAIL}}",
        "toEmail": "={{ $json.adminEmail }}",
        "subject": "=❌ Offert Avvisad - {{ $json.quoteNumber }}",
        "emailType": "html",
        "message": "=<!DOCTYPE html>\n<html>\n<head>\n  <meta charset=\"utf-8\">\n  <style>\n    body { \n      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; \n      line-height: 1.6; \n      color: #333;\n      background-color: #f5f5f5;\n      margin: 0;\n      padding: 0;\n    }\n    .container { \n      max-width: 600px; \n      margin: 20px auto; \n      background: white;\n      border-radius: 10px;\n      overflow: hidden;\n      box-shadow: 0 2px 10px rgba(0,0,0,0.1);\n    }\n    .header { \n      background: linear-gradient(135deg, #ef4444 0%, #dc2626 100%); \n      color: white; \n      padding: 40px 30px; \n      text-align: center;\n    }\n    .header h1 {\n      margin: 0;\n      font-size: 28px;\n    }\n    .content { \n      padding: 30px;\n    }\n    .info-box { \n      background: #fee2e2; \n      border-left: 4px solid #ef4444; \n      padding: 20px; \n      margin: 20px 0;\n      border-radius: 4px;\n    }\n    .info-box strong {\n      color: #dc2626;\n    }\n    .button { \n      display: inline-block; \n      padding: 15px 30px; \n      background: #ef4444; \n      color: white !important; \n      text-decoration: none; \n      border-radius: 5px; \n      margin: 20px 0; \n      font-weight: bold;\n      text-align: center;\n    }\n    .footer { \n      background: #f8f9fa;\n      text-align: center; \n      padding: 20px; \n      color: #777; \n      font-size: 14px;\n      border-top: 1px solid #e0e0e0;\n    }\n  </style>\n</head>\n<body>\n  <div class=\"container\">\n    <div class=\"header\">\n      <h1>❌ Offert Avvisad</h1>\n    </div>\n    <div class=\"content\">\n      <p>En kund har avvisat en offert.</p>\n      \n      <div class=\"info-box\">\n        <strong>📋 Offert-nummer:</strong> {{ $json.quoteNumber }}<br>\n        <strong>👤 Kund:</strong> {{ $json.clientName }}<br>\n        <strong>📧 Email:</strong> {{ $json.clientEmail }}<br>\n        <strong>📞 Telefon:</strong> {{ $json.clientPhone || 'Ej angivet' }}<br>\n        <strong>🏗️ Projekttyp:</strong> {{ $json.projectType }}<br>\n        <strong>💰 Totalkostnad:</strong> {{ Math.round($json.totalCost).toLocaleString('sv-SE') }} kr<br>\n        <strong>📝 Anledning:</strong> {{ $json.reason || 'Ingen anledning angiven' }}\n      </div>\n      \n      <p>Överväg att kontakta kunden för att förstå varför offerten avvisades.</p>\n      \n      <p style=\"text-align: center;\">\n        <a href=\"{{YOUR_FRONTEND_URL}}/admin/quotes\" class=\"button\">\n          Visa i systemet\n        </a>\n      </p>\n    </div>\n    <div class=\"footer\">\n      <p>Vilches Entreprenad AB</p>\n    </div>\n  </div>\n</body>\n</html>",
        "options": {}
      },
      "id": "email-rejected",
      "name": "Email: Avvisad",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        650,
        450
      ],
      "credentials": {
        "smtp": {
          "name": "Vilches SMTP (Hostinger)"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $env.TELEGRAM_CHAT_ID }}",
        "text": "=🎉 *OFFERT ACCEPTERAD!*\\n\\n📋 Offert: {{ $json.quoteNumber }}\\n👤 Kund: {{ $json.clientName }}\\n📧 Email: {{ $json.clientEmail }}\\n📞 Telefon: {{ $json.clientPhone || 'Ej angivet' }}\\n🏗️ Projekt: {{ $json.projectType }}\\n💰 Kostnad: {{ Math.round($json.totalCost).toLocaleString('sv-SE') }} kr\\n\\n✅ Kontakta kunden för att boka in projektet!",
        "additionalFields": {
          "parseMode": "Markdown"
        }
      },
      "id": "telegram-accepted",
      "name": "Telegram: Accepterad",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        850,
        250
      ],
      "credentials": {
        "telegramApi": {
          "name": "Vilches Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $env.TELEGRAM_CHAT_ID }}",
        "text": "=❌ *Offert Avvisad*\\n\\n📋 Offert: {{ $json.quoteNumber }}\\n👤 Kund: {{ $json.clientName }}\\n📧 Email: {{ $json.clientEmail }}\\n🏗️ Projekt: {{ $json.projectType }}\\n💰 Kostnad: {{ Math.round($json.totalCost).toLocaleString('sv-SE') }} kr\\n\\n📝 Anledning: {{ $json.reason || 'Ingen anledning angiven' }}",
        "additionalFields": {
          "parseMode": "Markdown"
        }
      },
      "id": "telegram-rejected",
      "name": "Telegram: Avvisad",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        850,
        450
      ],
      "credentials": {
        "telegramApi": {
          "name": "Vilches Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": true, \"message\": \"Notifikation skickad\" } }}"
      },
      "id": "respond-success",
      "name": "Svara: Lyckades",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1050,
        350
      ]
    }
  ],
  "connections": {
    "Webhook: Quote Response": {
      "main": [
        [
          {
            "node": "Accepterad?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Accepterad?": {
      "main": [
        [
          {
            "node": "Email: Accepterad",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Email: Avvisad",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email: Accepterad": {
      "main": [
        [
          {
            "node": "Telegram: Accepterad",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email: Avvisad": {
      "main": [
        [
          {
            "node": "Telegram: Avvisad",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram: Accepterad": {
      "main": [
        [
          {
            "node": "Svara: Lyckades",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram: Avvisad": {
      "main": [
        [
          {
            "node": "Svara: Lyckades",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1",
  "meta": {
    "instanceId": "vilches-app"
  },
  "id": "2",
  "tags": []
}
